
body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
}

header {
    background-color: antiquewhite;
    color: teal;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

nav {
    background-color: azure;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    color: darkslategray;
}

p, ul, ol {
    margin: 20px;
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
